<?xml version="1.0"?>
<robot name="omni_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159274"/>

  <xacro:include filename="$(find omni_robot_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find omni_robot_description)/urdf/omni_wheel/omni_wheel.urdf.xacro"/>
  <xacro:include filename="$(find omni_robot_description)/urdf/roller/roller.urdf.xacro"/>
  <xacro:include filename="$(find omni_robot_description)/urdf/lrf/lrf.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_footprint"/>
  <xacro:base_v0 parent="base_footprint">
        <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:base_v0>

  <!-- Wheel -->
  <!-- 1st wheel -->
  <xacro:wheel_v0 prefix="first" parent="base_link">
	<origin xyz="0.086338 -0.086338 -0.022" rpy="0 0 ${-3*M_PI/4}"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <xacro:roller_v0 prefix="r1_F" parent="first_wheel_link">
	<origin xyz="0 -0.006 0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r2_F" parent="first_wheel_link">
	<origin xyz="-0.0228853 -0.006 0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r3_F" parent="first_wheel_link">
	<origin xyz="-0.0141439 -0.006 -0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r4_F" parent="first_wheel_link">
	<origin xyz="0.0141439 -0.006 -0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r5_F" parent="first_wheel_link">
	<origin xyz="0.0228853 -0.006 0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

  <xacro:roller_v0 prefix="r6_F" parent="first_wheel_link">
	<origin xyz="0 0.006 -0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/>
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r7_F" parent="first_wheel_link">
	<origin xyz="0.0228853 0.006 -0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r8_F" parent="first_wheel_link">
	<origin xyz="0.0141439 0.006 0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r9_F" parent="first_wheel_link">
	<origin xyz="-0.0141439 0.006 0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r10_F" parent="first_wheel_link">
	<origin xyz="-0.0228853 0.006 -0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

  <!-- 2nd wheel -->
  <xacro:wheel_v0 prefix="second" parent="base_link">
	<origin xyz="0.086338 0.086338 -0.022" rpy="0 0 ${-M_PI/4}"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <xacro:roller_v0 prefix="r1_S" parent="second_wheel_link">
	<origin xyz="0 -0.006 0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r2_S" parent="second_wheel_link">
	<origin xyz="-0.0228853 -0.006 0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r3_S" parent="second_wheel_link">
	<origin xyz="-0.0141439 -0.006 -0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r4_S" parent="second_wheel_link">
	<origin xyz="0.0141439 -0.006 -0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r5_S" parent="second_wheel_link">
	<origin xyz="0.0228853 -0.006 0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

  <xacro:roller_v0 prefix="r6_S" parent="second_wheel_link">
	<origin xyz="0 0.006 -0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/>
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r7_S" parent="second_wheel_link">
	<origin xyz="0.0228853 0.006 -0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r8_S" parent="second_wheel_link">
	<origin xyz="0.0141439 0.006 0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r9_S" parent="second_wheel_link">
	<origin xyz="-0.0141439 0.006 0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r10_S" parent="second_wheel_link">
	<origin xyz="-0.0228853 0.006 -0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

<!-- 3rd wheel -->
  <xacro:wheel_v0 prefix="third" parent="base_link">
	<origin xyz="-0.086338 0.086338 -0.022" rpy="0 0 ${M_PI/4}"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <xacro:roller_v0 prefix="r1_T" parent="third_wheel_link">
	<origin xyz="0 -0.006 0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r2_T" parent="third_wheel_link">
	<origin xyz="-0.0228853 -0.006 0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r3_T" parent="third_wheel_link">
	<origin xyz="-0.0141439 -0.006 -0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r4_T" parent="third_wheel_link">
	<origin xyz="0.0141439 -0.006 -0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r5_T" parent="third_wheel_link">
	<origin xyz="0.0228853 -0.006 0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

  <xacro:roller_v0 prefix="r6_T" parent="third_wheel_link">
	<origin xyz="0 0.006 -0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/>
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r7_T" parent="third_wheel_link">
	<origin xyz="0.0228853 0.006 -0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r8_T" parent="third_wheel_link">
	<origin xyz="0.0141439 0.006 0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r9_T" parent="third_wheel_link">
	<origin xyz="-0.0141439 0.006 0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r10_T" parent="third_wheel_link">
	<origin xyz="-0.0228853 0.006 -0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

<!-- 4th wheel -->
  <xacro:wheel_v0 prefix="fourth" parent="base_link">
	<origin xyz="-0.086338 -0.086338 -0.022" rpy="0 0 ${3*M_PI/4}"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <xacro:roller_v0 prefix="r1_R" parent="fourth_wheel_link">
	<origin xyz="0 -0.006 0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r2_R" parent="fourth_wheel_link">
	<origin xyz="-0.0228853 -0.006 0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r3_R" parent="fourth_wheel_link">
	<origin xyz="-0.0141439 -0.006 -0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r4_R" parent="fourth_wheel_link">
	<origin xyz="0.0141439 -0.006 -0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r5_R" parent="fourth_wheel_link">
	<origin xyz="0.0228853 -0.006 0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

  <xacro:roller_v0 prefix="r6_R" parent="fourth_wheel_link">
	<origin xyz="0 0.006 -0.024063" rpy="0 0 1.570796"/>
	<axis xyz="0 1 0"/>
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r7_R" parent="fourth_wheel_link">
	<origin xyz="0.0228853 0.006 -0.0074359" rpy="-1.256637 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r8_R" parent="fourth_wheel_link">
	<origin xyz="0.0141439 0.006 0.0194674" rpy="-2.513274 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r9_R" parent="fourth_wheel_link">
	<origin xyz="-0.0141439 0.006 0.0194674" rpy="-3.769911 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>
  <xacro:roller_v0 prefix="r10_R" parent="fourth_wheel_link">
	<origin xyz="-0.0228853 0.006 -0.0074359" rpy="-5.026548 0 1.570796"/>
	<axis xyz="0 1 0"/> 
  </xacro:roller_v0>

  <!-- lrf sensor -->
  <xacro:lrf_v0 prefix = "front" parent="base_link">
	<origin xyz="0 0 0.1395"/>
  </xacro:lrf_v0>

  <!-- ===============  Transmission =============== -->
  <xacro:wheel_trans_v0 prefix="first"/>
  <xacro:wheel_trans_v0 prefix="second"/>
  <xacro:wheel_trans_v0 prefix="third"/>
  <xacro:wheel_trans_v0 prefix="fourth"/>
  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

  <!-- Base -->
  <xacro:base_gazebo_v0/>

  <!-- Wheel -->
  <xacro:wheel_gazebo_v0 prefix="first"/>
  <xacro:wheel_gazebo_v0 prefix="second"/>
  <xacro:wheel_gazebo_v0 prefix="third"/>
  <xacro:wheel_gazebo_v0 prefix="fourth"/>

  <!-- lrf sensor -->
  <xacro:lrf_gazebo_v0 prefix = "front" min_rad = "-3.14" max_rad = "3.14" min_range = "0.1" max_range = "10"/>


</robot>
