<?xml version="1.0"?>
<model>
  <name>simple_voxel_room</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Miguel Angle Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    Model Created by https://sketchfab.com/comrademathias.
    All the 3Dmodel meshes were made by him.
    The adaptation to Gazebo model made by TheConstructSim
  </description>
</model>
