<?xml version="1.0"?>

<model>
  <name>MopCart4</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Roselle Carmen</name>
    <email>rosellec@openrobotics.org</email>
  </author>

  <description>
  Another version of the mop cart on it's own
  </description>

</model>
